
@{
    ViewBag.Title = "Historial Usuario";
}
<!--bgp-light
    bgp-medium
    bgp-dark
    colorp-dark
    colorp-medium
    colorp-light*/-->
<h2 class="colorp-dark">HISTORIAL DE COMPRA</h2>

<table class="table table-hover">
    <tbody>
        <tr>
            <th scope="row" style="width: 12rem;">
                <big>ORDEN XXX-XXX</big><br>
                $XXXX.XX<br>
                <small>Entrega: </small> DD/MM/AA
            </th>
            <td style="width: 12rem;">IMAGEN DEL PRODUCTO</td>
            <td style="width: 12rem;">
                <big>Producto XXXX</big><br>
                Talla XX<br>
                $XXXX.XX
            </td>
            <td style="width: 12rem;">IMAGEN DEL PRODUCTO</td>
            <td style="width: 12rem;">
                <big>Producto XXXX</big><br>
                Talla XX<br>
                $XXXX.XX
            </td>
        </tr>
        <tr>
            <th scope="row" style="width: 12rem;">
                <big>ORDEN XXX-XXX</big><br>
                $XXXX.XX<br>
                <small>Entrega: </small>DD/MM/AA
            </th>
            <td style="width: 12rem;">IMAGEN DEL PRODUCTO</td>
            <td style="width: 12rem;">
                <big>Producto XXXX</big><br>
                Talla XX<br>
                $XXXX.XX
        </tr>
        <tr>
            <th scope="row" style="width: 12rem;">
                <big>ORDEN XXX-XXX</big><br>
                $XXXX.XX<br>
                <small>Entrega: </small>DD/MM/AA
            </th>
            <td style="width: 12rem;">IMAGEN DEL PRODUCTO</td>
            <td style="width: 12rem;">
                <big>Producto XXXX</big><br>
                Talla XX<br>
                $XXXX.XX
            </td>
            <td style="width: 12rem;">IMAGEN DEL PRODUCTO</td>
            <td style="width: 12rem;">
                <big>Producto XXXX</big><br>
                Talla XX<br>
                $XXXX.XX
            </td>
        </tr>
    </tbody>
</table>
