
@{
    ViewBag.Title = "Inicio";
}

<h1>Destacados</h1>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card border-light mb-3" style="width: 18rem;">

                <div class="card-body">
                    <h5 class="card-title text-center">Producto XXX XXX</h5>
                    <p style="text-align:center;">
                        <img src="https://www.dickson-constant.com/medias/images/catalogue/api/m654-grey-680.jpg" class="card-img-top center" style="width:175px;height:200px;">
                    </p>
                    <p style="text-align:center;">
                        <img src="https://www.dickson-constant.com/medias/images/catalogue/api/m654-grey-680.jpg" class="card-img-top center" style="width:40px;height:50px;">
                        <img src="https://www.dickson-constant.com/medias/images/catalogue/api/m654-grey-680.jpg" class="card-img-top center" style="width:40px;height:50px;">
                        <img src="https://www.dickson-constant.com/medias/images/catalogue/api/m654-grey-680.jpg" class="card-img-top center" style="width:40px;height:50px;">
                        <img src="https://www.dickson-constant.com/medias/images/catalogue/api/m654-grey-680.jpg" class="card-img-top center" style="width:40px;height:50px;">
                    </p>
                    <p class="card-text text-center">Precio: $XXX.XX</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card border-light mb-3" style="width: 18rem;">

                <div class="card-body">
                    <h5 class="card-title text-center">Producto XXX XXX</h5>
                    <p style="text-align:center;">
                        <img src="https://www.dickson-constant.com/medias/images/catalogue/api/m654-grey-680.jpg" class="card-img-top center" style="width:175px;height:200px;">
                    </p>
                    <p style="text-align:center;">
                        <img src="https://www.dickson-constant.com/medias/images/catalogue/api/m654-grey-680.jpg" class="card-img-top center" style="width:40px;height:50px;">
                        <img src="https://www.dickson-constant.com/medias/images/catalogue/api/m654-grey-680.jpg" class="card-img-top center" style="width:40px;height:50px;">
                        <img src="https://www.dickson-constant.com/medias/images/catalogue/api/m654-grey-680.jpg" class="card-img-top center" style="width:40px;height:50px;">
                        <img src="https://www.dickson-constant.com/medias/images/catalogue/api/m654-grey-680.jpg" class="card-img-top center" style="width:40px;height:50px;">
                    </p>
                    <p class="card-text text-center">Precio: $XXX.XX</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card border-light mb-3" style="width: 18rem;">

                <div class="card-body">
                    <h5 class="card-title text-center">Producto XXX XXX</h5>
                    <p style="text-align:center;">
                        <img src="https://www.dickson-constant.com/medias/images/catalogue/api/m654-grey-680.jpg" class="card-img-top center" style="width:175px;height:200px;">
                    </p>
                    <p style="text-align:center;">
                        <img src="https://www.dickson-constant.com/medias/images/catalogue/api/m654-grey-680.jpg" class="card-img-top center" style="width:40px;height:50px;">
                        <img src="https://www.dickson-constant.com/medias/images/catalogue/api/m654-grey-680.jpg" class="card-img-top center" style="width:40px;height:50px;">
                        <img src="https://www.dickson-constant.com/medias/images/catalogue/api/m654-grey-680.jpg" class="card-img-top center" style="width:40px;height:50px;">
                        <img src="https://www.dickson-constant.com/medias/images/catalogue/api/m654-grey-680.jpg" class="card-img-top center" style="width:40px;height:50px;">
                    </p>
                    <p class="card-text text-center">Precio: $XXX.XX</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card border-light mb-3" style="width: 18rem;">

                <div class="card-body">
                    <h5 class="card-title text-center">Producto XXX XXX</h5>
                    <p style="text-align:center;">
                        <img src="https://www.dickson-constant.com/medias/images/catalogue/api/m654-grey-680.jpg" class="card-img-top center" style="width:175px;height:200px;">
                    </p>
                    <p style="text-align:center;">
                        <img src="https://www.dickson-constant.com/medias/images/catalogue/api/m654-grey-680.jpg" class="card-img-top center" style="width:40px;height:50px;">
                        <img src="https://www.dickson-constant.com/medias/images/catalogue/api/m654-grey-680.jpg" class="card-img-top center" style="width:40px;height:50px;">
                        <img src="https://www.dickson-constant.com/medias/images/catalogue/api/m654-grey-680.jpg" class="card-img-top center" style="width:40px;height:50px;">
                        <img src="https://www.dickson-constant.com/medias/images/catalogue/api/m654-grey-680.jpg" class="card-img-top center" style="width:40px;height:50px;">
                    </p>
                    <p class="card-text text-center">Precio: $XXX.XX</p>
                </div>
            </div>
        </div>
    </div>
</div>