
@{
    ViewBag.Title = "InicioSesion";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="~/css/inicioSesion.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/tonystar/bootstrap-float-label/v4.0.2/bootstrap-float-label.min.css" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="../Content/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="../Content/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <script src="../Scripts/bootstrap.bundle.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <script src="../Scripts/jquery-3.0.0.min.js"></script>
    <script src="../Scripts/jquery-3.0.0.slim.min.js"></script>
    <script src="../Scripts/popper-utils.min.js"></script>
    <script src="../Scripts/popper.min.js"></script>

    <link href="https://allfont.es/allfont.css?fonts=league-spartan" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Arapey" />
    <link href="https://allfont.es/allfont.css?fonts=league-gothic" rel="stylesheet" type="text/css" />

    <title> Iniciar sesión</title>
</head>

<body>
    <div class="container login-form">
        <div class="row">
            <div class="col">

                <div class="legend">
                    <p>Iniciar sesión</p>
                </div>

                <form>
                    <div class="email-box">
                        <label class="has-float-label">
                            <input class="form-control input-box" type="email" placeholder="" />
                            <span>Correo electrónico</span>
                        </label>
                    </div>

                    <div class="password-box">
                        <label class="has-float-label">
                            <input class="form-control input-box" type="password" placeholder="" />
                            <span>Contraseña</span>
                        </label>
                    </div>

                    <div class="forgotten-password">
                        <a href="">¿Olvidaste tu contraseña?</a>
                    </div>

                    <div class="login-button">
                        <a class="btn btn-default" href="~/Home/PerfilCliente" style="text-transform: uppercase !important;font-size: 25px !important;font-family: 'League Gothic', arial !important;color: #ede5db !important;background-color: #6d5b4b !important;box-shadow: 7px 7px #d1b5a3 !important;width: 50% !important;border-color: #6d5b4b !important;border-radius: 0;">
                            <span>Iniciar sesión</span>
                            <i class="fas fa-long-arrow-alt-right"></i>
                        </a>
                        <!--
                            <button type="submit">
                                <span>Iniciar sesión</span>
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </button>
                        */-->
                    </div>
                </form>
            </div>

            <div class="right col align-self-center">
                <div style="margin-top: 30px;">
                    <div class="login-fb  d-flex justify-content-center">
                        <button>
                            <span>Facebook</span>
                            <i class="fab fa-facebook"></i>
                        </button>
                    </div>

                    <div class="login-google  d-flex justify-content-center">
                        <button>
                            <span>Google</span>
                            <i class="fab fa-google"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</body>
</html>

