@model IEnumerable<ProyectoFinal.producto>


@{
    ViewBag.Title = "Mi Cuenta";
}


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="~/css/perfilCliente.css" rel="stylesheet" />
    <link href="../Content/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="../Content/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <script src="../Scripts/bootstrap.bundle.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <script src="../Scripts/jquery-3.0.0.min.js"></script>
    <script src="../Scripts/jquery-3.0.0.slim.min.js"></script>
    <script src="../Scripts/popper-utils.min.js"></script>
    <script src="../Scripts/popper.min.js"></script>

    <link href="https://allfont.es/allfont.css?fonts=league-spartan" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Arapey" />
    <link href="https://allfont.es/allfont.css?fonts=league-gothic" rel="stylesheet" type="text/css" />

    <title>Perfil de Cliente</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col col-9">
                <div class="row">
                    <div class="col">
                        <div class="welcome-message">
                            <p>Hola @Request.Cookies["usuarioNombre"].Value </p>
                        </div>
                    </div>

                </div>




                <div class="row">
                    <div class="col">
                        <div class="just-seen d-flex justify-content-center" style="margin-top: 40px;">
                            <p>Vistos recientemente</p>
                        </div>
                        <div class="row d-flex justify-content-center">
                            @for (int i = 1; i <= 27; i += 9)
                            {
                                <div class="col col-md-auto">
                                    <div class="card" style="width: 15rem;"onclick=" location.href = 'vistaProducto/@Model.ElementAt(i).productoId';" style="cursor: pointer;">
                                        <img src="~/Imagenes/@Model.ElementAt(i).productoId .jpg" class="card-img-top">
                                        <div class="card-body">
                                            <h5 class="card-text"><strong>@Model.ElementAt(i).productoNombre</strong></h5>
                                            <h6 class="card-text">$ @Model.ElementAt(i).productoPrecio .00</h6>
                                        </div>
                                    </div>
                                </div>

                            }
                         </div>
                    </div>
                </div>
            </div>



            <div class="col">
                <div class="nav-account">
                    <ul>
                        <li class="title-nav-account">
                            <a href="">Mi cuenta</a>
                        </li>



                        <li>
                            <a href="/Home/Direccion">Direcciones</a>
                        </li>

                        <li>
                            <a href="/Home/HistorialUsuario">Historial de Pedidos</a>
                        </li>


                    </ul>

                    <hr />


                </div>
            </div>
        </div>
    </div>



</body>
</html>

