
@model ProyectoFinal.producto


@{
    ViewBag.Title = Model.productoNombre;
}

<h1 class="colorp-dark">@Html.DisplayFor(model => model.productoNombre) </h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-auto">
            <div class="card  mb-3" style="width: 24rem;">

                <div class="card-body">
                    <p style="text-align:center;">
                        <img src="~/Imagenes/@Html.DisplayFor(model => model.productoId) .jpg" class="card-img-top center" style="width:350px;height:375px;">
                    </p>

                </div>
            </div>
        </div>
        <div class="col-sm-auto">

            <h3 class="colorp-medium"> $ @Html.DisplayFor(model => model.productoPrecio) </h3>
            <button type="button" class="btn btn-dark bgp-light colorp-dark" style="cursor: pointer;" id="AgregarCarrito">
                AGREGAR A CARRITO
            </button>


            <p class="colorp-dark">Fecha estimada de entrega:</p>
            <p id="FechaEntrega" class="colorp-dark"></p>

            <script>
                document.getElementById('AgregarCarrito').onclick = function () {
                    alert('Producto añadido a tu carrito');
                }
            </script>
            <SCRIPT>
                let numWeeks = 1;
                let now = new Date();
                now.setDate(now.getDate() + numWeeks * 7);
                let day = now.getDay();
                let month = now.getMonth() + 1;
                let year = now.getFullYear();
                document.getElementById("FechaEntrega").innerHTML = day + "/" + month + "/" + year;
            </script>

        </div>
    </div>
</div>
