@model ProyectoFinal.producto
@{
    ViewBag.Title = "vistaProducto";
}

<h1>@Html.DisplayFor(model => model.productoNombre) </h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-auto">
            <div class="card  mb-3" style="width: 24rem;">

                <div class="card-body">
                    <p style="text-align:center;">
                        <img src="~/Imagenes/@Html.DisplayFor(model => model.productoId) .jpg"  class="card-img-top center" style="width:350px;height:375px;">
                    </p>
                   
                </div>
            </div>
        </div>
        <div class="col-sm-auto">

            <h3> $ @Html.DisplayFor(model => model.productoPrecio) </h3>
            <button type="button" class="btn btn-dark" onclick="location.href='/Home/Carrito'">
                AGREGAR A CARRITO
            </button>


            <!--<p>Entrega Aproximada: ${date:Insert datetime string ()}</p>-->
        </div>
    </div>
</div>
