
@{
    ViewBag.Title = "vistaProducto";
}

<h1>Producto XXX XXX</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-auto">
            <div class="card  mb-3" style="width: 24rem;">

                <div class="card-body">
                    <p style="text-align:center;">
                        <img src="https://www.dickson-constant.com/medias/images/catalogue/api/m654-grey-680.jpg" class="card-img-top center" style="width:350px;height:375px;">
                    </p>
                    <p class="text-center">
                        <img src="https://www.dickson-constant.com/medias/images/catalogue/api/m654-grey-680.jpg" class="img-fluid" style="width:75px;height:100px;">
                        <img src="https://www.dickson-constant.com/medias/images/catalogue/api/m654-grey-680.jpg" class="img-fluid" style="width:75px;height:100px;">
                        <img src="https://www.dickson-constant.com/medias/images/catalogue/api/m654-grey-680.jpg" class="img-fluid" style="width:75px;height:100px;">
                        <img src="https://www.dickson-constant.com/medias/images/catalogue/api/m654-grey-680.jpg" class="img-fluid" style="width:75px;height:100px;">
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-auto">
            <h3> $ XXX.XX</h3>
            <h5> Ó 3 pagos de $XXX.XX</h5>
            <table class="table table-bordered" style="border:2px solid black;width: 150%;">
                <tr style="text-align:center;">
                    <th>TALLA</th>
                    <td>XCH</td>
                    <td>CH</td>
                    <td>M</td>
                    <td>G</td>
                    <td>XG</td>
                </tr>
            </table>

            <table class="table ">
                <tr style="text-align:center;">
                    <td>
                        <img width="50" height="50" class="rounded-circle" src="https://dyrdkqpaj50j2.cloudfront.net/media/catalog/product/cache/31/image/9df78eab33525d08d6e5fb8d27136e95/g/s/gsc-217-light-orange_24.jpg">
                    </td>
                    <td>
                        <img width="50" height="50" class="rounded-circle" src="https://www.colorcombos.com/images/colors/FFCC00.png">
                    </td>
                    <td>
                        <img width="50" height="50" class="rounded-circle" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/F1_yellow_flag.svg/1024px-F1_yellow_flag.svg.png">
                    </td>
                    <td>
                        <img width="50" height="50" class="rounded-circle" src="https://www.colorcombos.com/images/colors/CEFA05.png">
                    </td>
                    <td>
                        <img width="50" height="50" class="rounded-circle" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Solid_green.svg/1200px-Solid_green.svg.png">
                    </td>
                </tr>
                <tr style="text-align:center;">
                    <td>
                        <img width="50" height="50" class="rounded-circle" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Dark_green.svg/1200px-Dark_green.svg.png">
                    </td>
                    <td>
                        <img width="50" height="50" class="rounded-circle" src="https://www.sirvisual.com/Attachment/100/2088_26878_80-003%20Principale.jpg">
                    </td>
                    <td>
                        <img width="50" height="50" class="rounded-circle" src="https://www.collinsdictionary.com/images/full/skyblue_573262585_1000.jpg">
                    </td>
                    <td>
                        <img width="50" height="50" class="rounded-circle" src="https://images-na.ssl-images-amazon.com/images/I/21%2BWVaH%2BLIL._AC_.jpg">
                    </td>
                    <td>
                        <img width="50" height="50" class="rounded-circle" src="https://www.colorcombos.com/images/colors/21B6A8.png">
                    </td>
                </tr>
            </table>
            <button type="button" class="btn btn-dark" onclick="location.href='/Home/Carrito'">
                AGREGAR A CARRITO
            </button>
            

            <p>Entrega Aproximada: DD/MM/AA - DD/MM/AA</p>
        </div>
    </div>
</div>
